
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quản lý cửa hàng thú cưng</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    @Styles.Render("~/Content/css")
    <link href="~/Content/css/style.min.css" rel="stylesheet" />
    <link href="~/Content/css/bsgrid.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" />

</head>
<body>

    <!-- header -->
    <div class="header">

        <div class="navbar">
            <div class="navbar__left">
                <a href="/" class="navbar__logo">

                    <img src="~/Content/img/logo.jpg" />
                </a>

                <div class="navbar__menu">
                    <i id="bars" class="fa fa-bars" aria-hidden="true"></i>
                    <ul>
                        <li><a href="/">Trang chủ</a></li>
                        <li><a href="index.html?page=congiong">Con giống</a></li>
                        <li>
                            <a href="index.html?page=yourorder">Đơn hàng</a>
                        </li>
                    </ul>
                </div>

            </div>

            <div class="navbar__center">
                <div class="navbar__center">

                    @using (Html.BeginForm("TimKiem", "TimKiem", FormMethod.Get, new { @class = "navbar__search", @id = "formSearch" }))
                    {
                        @Html.TextBox("search", null, new { @class = "search", @id = "message", placeholder = "Nhập để tìm kiếm" })
                        
                        <i class="fa fa-search" id="searchBtn"></i>

                    }

                </div>
            </div>

            <div class="navbar__right">
                <div style="display: flex; align-items: center;">

                    @if (Session["TaiKhoan"] != null)
                    {
                        <span>@Session["TaiKhoan"].ToString()</span>


                        <a href="@Url.Action("DangXuat", "Login")">
                            <span class="fas fa-sign-out-alt"></span>
                        </a>
                    }
                    else
                    {
                        <div class="login">
                            <a href="@Url.Action("Login", "Login")"><i class="fa fa-user"></i></a>
                        </div>
                    }

                </div>

                <div class="nav-item">
                    @Html.Action("GioHangPartial", "GioHang", new { @class = "giohang" })
                </div>

            </div>
        </div>

    </div>

    <div class="post-slider">
        <i class="fa fa-chevron-left prev" aria-hidden="true"></i>
        <i class="fa fa-chevron-right next" aria-hidden="true"></i>

        <div class="post-wrapper">
            <div class="post">

                <img src="~/Content/img/BG-1.jpg" />
            </div>
            <div class="post">
                <img src="~/Content/img/BG-2.jpg" />
            </div>
            <div class="post">
                <img src="~/Content/img/BG-3.jpg" />
            </div>
        </div>

    </div>

    <div class="body">

        @RenderBody()

    </div>

    <div class="go-to-top"><i class="fas fa-chevron-up"></i></div>

    <footer>
        <div class="footer">
            <div class="footer__title">
                <span>Liên hệ</span>
                <div class="footer__social">
                    <a href="facebook.com/trieuetam" target="_blank"><i class="fab fa-facebook-f"></i></a>
                    <a href="#"><i class="fab fa-github"></i></a>
                    <a href="#"><i class="fab fa-google"></i></a>
                </div>
            </div>
        </div>

        <div class="footer__info">

            <div class="footer__info-content">
                <h3>Giới thiệu</h3>
                <p>Website quản lý, mua bán thú cưng</p>
            </div>



            <div class="footer__info-content">
                <h3>Liên hệ</h3>
                <p>Địa chỉ: 475 Điện Biên Phủ, Hutech khu A,B</p>
                <p>Email: trieuetam@gmail.com</p>
                <p>Sđt: 123456789</p>
            </div>

            <div class="footer__info-content">
                <h3>Fanpage</h3>
                <p><iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2FC%25E1%25BB%25ADa-h%25C3%25A0ng-S%25E1%25BA%25A3n-ph%25E1%25BA%25A9m-D%25C3%25A0nh-cho-Th%25C3%25BA-C%25C6%25B0ng-100178969197228%2F%3Fref%3Dpages_you_manage&tabs=timeline&width=300px&height=150px&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId" width="100%" height="150px" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe></p>
            </div>

        </div>

        <div class="footer__copyright">
            <center> 2022 All rights reserved.</center>
        </div>
    </footer>

    <script src="~/Scripts/jquery-3.4.1.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>
    <script>
        //Slider using Slick
        $(document).ready(function () {
            $('.post-wrapper').slick({
                slidesToScroll: 1,
                autoplay: true,
                arrow: true,
                dots: true,
                autoplaySpeed: 5000,
                prevArrow: $('.prev'),
                nextArrow: $('.next'),
                appendDots: $(".dot"),
            });
});

        // Slick mutiple carousel
        $('.post-wrapper2').slick({
            slidesToShow: 5,
        slidesToScroll: 1,
        autoplay: true,
        autoplaySpeed: 2000,
        prevArrow: $('.prev2'),
        nextArrow: $('.next2'),
        responsive: [
        {
            breakpoint: 1024,
        settings: {
            slidesToShow: 4,
        slidesToScroll: 3,
        infinite: true,
        }
    },
        {
            breakpoint: 600,
        settings: {
            slidesToShow: 3,
        slidesToScroll: 2
        }
    },
        {
            breakpoint: 480,
        settings: {
            slidesToShow: 2,
        slidesToScroll: 1
        }
    }
        ]
});
    </script>
    <script src="~/Content/script/script.js"></script>

    </body>

</html>